.decompte{

  text-align: center;

}

.decompte h2{

  font-family: $ff-normal;

  font-weight: 300;

  margin-top: 50px;

}

.minuterie{

  display: flex;

  justify-content: space-between;

  color: $color-text-light;

}

.minuterie div{

  background: linear-gradient(136.53deg, #A38DFD 0%, #FFA0A2 93.53%);

  width: 90px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  height: 71px;

}

.minuterie p{

  margin: 0;

}

.chiffre{

  font-size: $fz-h1;

}
.temps{

  font-size: 0.75rem;

}