@media screen and (min-width:375px){



.hero{

  background-image:url("../images/hero.jpg");

  background-repeat: no-repeat;

  background-size: cover;

  height: 570px;

  background-position: center;

  display: flex;

  justify-content: center;

  align-items: center;

  color:$color-text-light;

  font-family: $ff-normal;

  text-shadow: 2px 2px 3px rgba(0,0,0,0.25);

  font-weight: $fw-bold;

}




}