.header-page{

background-color: rgba(255,255,255,0.95);
text-align: center;
  position: fixed;
  width: 100vw;
  top:0;



}

.header-page ul {

  list-style: none;

  display: flex;

  flex-direction: column;

  padding: 0;

}
.compagnie{

  order: -1;



}
